:root {

	--main-background-color : #FFC0CB;

	--main-color : #F08080;

	--main-sideMenuBar-text-color : #000000;

	--sub-color : #E9967A;

	--border-bottom-width: 1px;
	--border-bottom-style: solid;
	--border-bottom-Line-color: #000000;

	--border-left-width: 5px;
	--border-left-style: solid;

}

*{
	margin: 0;
}

a {text-decoration: none; color: var(--main-sideMenuBar-text-color);}
ul {padding:0;}
li {list-style-type: none;}


body {background-color: var(--main-background-color);}
@keyframes hoverColor{
	from {

	} to{
		background-color: #A9A9A9;
		border-left-color: #696969;
		color: #D3D3D3;
	}
}

.wrapper {width: 100%; height: 100%; background-color: var(--main-background-color);}
.wrapper .wrapper1 {width: 75%; height: 1000px; background-color: var(--main-color); margin: auto;}
.wrapper .mainSideBar {width: 24%; height: 1000px; background-color: var(--main-color); float: left;}
.wrapper .mainSideBar .logoBox {width: 100%; height: 30%; background-color: var(--main-color);}
.wrapper .mainSideBar .logo {width: 100%; height: 30%; text-align: center;
							 background-color: var(--main-color);}
.wrapper .sideMenuBar {width: 70%; margin: auto; background-color: var(--main-color);}
.wrapper .sideMenuBar .menuBar1 {width: 100%; height: 50px; background-color: var(--main-color);
									border-bottom-width: var(--border-bottom-width);
									border-bottom-style: var(--border-bottom-style);
									border-bottom-color: var(--border-bottom-Line-color);
									text-align: center;
									vertical-align: middle;}

.wrapper .sideMenuBar .menuBar1:hover {border-left-width: var(--border-left-width); 
										border-left-style: var(--border-left-style);
										animation-name: hoverColor;
										animation-duration: 0.8s;
										animation-fill-mode: forwards;
										cursor:pointer;}

.wrapper .mainContent {width: 60%; height: 1000px; text-align: center;
					   background-color: var(--main-color); float: left;}
.wrapper .subMenuBar {width: 16%; height: 1000px; background-color: var(--main-color); float: left;}
.wrapper .subMenuBar .recentContent {width:100%; height: 50%; text-align: center;
									 background-color: var(--sub-color);}
.wrapper .subMenuBar .recentContentTitle {width:100%; height:10%; overflow: hidden; 
										  background-color: var(--sub-color);}
.wrapper .subMenuBar .recentListtt {width:100%; height:90%; overflow: hidden; background-color: #808080;}
.wrapper .subMenuBar .recentListtt .recentList {width: 100%; height: 20%;
												margin-top: 10px;
												margin-bottom: 10px;
												overflow: hidden;
												background-color: #DCDCDC;
												white-space: normal;
												text-align: center;
												text-overflow: ellipsis;}
.wrapper .subMenuBar .about {width:100%; height: 25%; text-align: center;
							background-color: var(--sub-color);}
.wrapper .subMenuBar .snsIcons {width : 100%; height: 25%; text-align: center; 
								background-color: var(--sub-color);}